---
layout: default
title: Atomic Squirrel
---

{% include nav.html %}

<main class="bg-dark-blue-sky bg-rocket-image bg-no-repeat bg-fixed">
  <div class="container">
    <div class="clearfix">
      <div class="sm-col sm-col-4">&nbsp;</div>
      <div class="sm-col sm-col-8 py3 px4">
        {% include header.html %}
        {% include services.html %}
        {% include team.html %}
        {% include contact.html %}
        {% include footer.html %}
      </div>   
    </div>   
  </div>
</main>