---
layout: highlights
title: "Atomic Squirrel"
subtitle: "Launch your startup"
header: "home-header.html"
---

<div class="p4 mt4 mobile-padding bg-translucent-white">
  {% include about.html %}
</div>
<div class="p4 mt4 mobile-padding bg-translucent-white">
  {% include checklist.html %}
</div>
<div class="p4 mt4 mobile-padding bg-translucent-white">
  {% include team.html %}
</div>
<div class="p4 mt4 mobile-padding bg-translucent-white">
  {% include contact.html %}
</div>
<div class="p4 mt4 mobile-padding bg-translucent-white">
  {% include book.html %}
</div>
