<section id="about">
  <h2 class="center caps">About</h2>
  <hr class="col-6 mb3">
  <p>
    At Atomic Squirrel, our mission is to make it an order of magnitude easier
    to understand, develop, and deploy software. We are a team of DevOps
    experts who specialize in creating high quality, battle-tested,
    end-to-end infrastructure, and we want to help you launch and scale your
    startup.
  </p>
  <p>
    Our most common services include:
  </p>
  <ul class="list-reset">
    <li>
      <strong>Infrastructure-as-code</strong>
      <small>
        (e.g.,
        <a href="https://www.terraform.io/" target="_blank">Terraform</a>,
        <a href="http://www.ybrikman.com/writing/2015/05/19/docker-osx-dev/" target="_blank">Docker</a>,
        <a href="https://aws.amazon.com/cloudformation/" target="_blank">CloudFormation</a>)
      </small>
    </li>
    <li>
      <strong>Automated deployment</strong>
      <small>
        (e.g.,
        <a href="http://martinfowler.com/bliki/BlueGreenDeployment.html" target="_blank">blue-green</a>,
        <a href="http://docs.ansible.com/ansible/guide_rolling_upgrade.html" target="_blank">rolling</a>,
        <a href="http://martinfowler.com/bliki/CanaryRelease.html" target="_blank">canary</a>,
        <a href="http://martinfowler.com/bliki/FeatureToggle.html" target="_blank">feature flags</a>)
      </small>
    </li>
    <li>
      <strong>Security</strong>
      <small>
        (e.g.,
        <a href="https://aws.amazon.com/vpc/" target="_blank">VPC</a>,
        <a href="http://docs.aws.amazon.com/AWSEC2/latest/UserGuide/using-network-security.html" target="_blank">Security Groups</a>,
        <a href="https://en.wikipedia.org/wiki/Transport_Layer_Security" target="_blank">SSL/TLS</a>,
        <a href="https://en.wikipedia.org/wiki/Authentication" target="_blank">Auth</a>,
        <a href="https://hashicorp.com/blog/vault.html" target="_blank">Vault</a>,
        <a href="https://aws.amazon.com/kms/" target="_blank">KMS</a>)
      </small>
    </li>
    <li>
      <strong>Architecture</strong>
      <small>
        (e.g.,
        <a href="http://12factor.net/" target="_blank">12-factor</a>,
        <a href="http://martinfowler.com/articles/microservices.html" target="_blank">microservices</a>,
        <a href="https://www.airpair.com/aws/posts/building-a-scalable-web-app-on-amazon-web-services-p1" target="_blank">high availability</a>,
        <a href="https://www.airpair.com/aws/posts/building-a-scalable-web-app-on-amazon-web-services-p1" target="_blank">scalability</a>)
      </small>
    </li>
    <li>
      <strong>Tech stack</strong>
      <small>
        (e.g.,
        <a href="http://www.ybrikman.com/writing/2014/09/29/nodejs-vs-play-framework/" target="_blank">server-side framework</a>,
        <a href="http://todomvc.com/" target="_blank">client-side framework</a>,
        <a href="https://www.safaribooksonline.com/library/view/hello-startup/9781491910016/ch05.html#picking_a_database" target="_blank">data storage</a>)
      </small>
    </li>
    <li>
      <strong>Build pipeline</strong>
      <small>
        (e.g.,
        <a href="https://en.wikipedia.org/wiki/Continuous_integration" target="_blank">continuous integration</a>,
        <a href="https://jenkins-ci.org/" target="_blank">Jenkins</a>,
        <a href="https://circleci.com/" target="_blank">CircleCI</a>,
        <a href="https://travis-ci.com/" target="_blank">Travis</a>)
      </small>
    </li>
    <li>
      <strong>Asset pipeline</strong>
      <small>
        (e.g.,
        <a href="http://robertnyman.com/2010/01/19/tools-for-concatenating-and-minifying-css-and-javascript-files-in-different-development-environments/" target="_blank">concat</a>,
        <a href="https://en.wikipedia.org/wiki/Minification_(programming)" target="_blank">minify</a>,
        <a href="http://guides.rubyonrails.org/asset_pipeline.html#what-is-fingerprinting-and-why-should-i-care-questionmark" target="_blank">fingerprint</a>,
        <a href="https://en.wikipedia.org/wiki/Content_delivery_network" target="_blank">CDN</a>)
      </small>
    </li>
    <li>
      <strong>Product development</strong>
      <small>
        (e.g.,
        <a href="http://www.ybrikman.com/writing/2015/10/07/crash-course-design-for-developers/" target="_blank">design</a>,
        <a href="http://www.slideshare.net/brikis98/rapid-prototyping-34062971" target="_blank">rapid prototyping</a>,
        <a href="https://www.quora.com/How-can-you-validate-an-idea-before-jumping-in-and-actually-implementing-it/answer/Yevgeniy-Brikman" target="_blank">validation</a>,
        <a href="http://blakemasters.com/post/22405055017/peter-thiels-cs183-startup-class-9-notes-essay" target="_blank">distribution</a>)
      </small>
    </li>
    <li>
      <strong>Monitoring &amp; alerting</strong>
      <small>
        (e.g.,
        <a href="https://aws.amazon.com/cloudwatch/" target="_blank">CloudWatch</a>,
        <a href="https://www.elastic.co/products/logstash" target="_blank">Logstash</a>,
        <a href="https://www.datadoghq.com/" target="_blank">DataDog</a>,
        <a href="https://www.pagerduty.com/" target="_blank">PagerDuty</a>)
      </small>
    </li>
    <li>
      <strong>Training</strong>
      <small>
        (e.g.,
        <a href="http://www.ybrikman.com/speaking/" target="_blank">talks &amp; workshops</a>,
        <a href="https://en.wikipedia.org/wiki/Code_review" target="_blank">code &amp; design reviews</a>,
        <a href="http://www.ybrikman.com/writing/2014/05/05/you-are-what-you-document/" target="_blank">documentation</a>)
      </small>
    </li>
  </ul>
  <p>
    Let us take care of the technology so that you can focus on what really
    matters: your product and your customers.
  </p>
  {% include button.html url="#checklist" text="Fill out the checklist" %}
</section>