<div class="px3 pb3">
  <h2>About the Checklist</h2>
  <p>
    This checklist will automatically save your progress in your current
    browser window using
    <a href="http://www.html5rocks.com/en/features/storage">Local Storage</a>.
    You can print it out at any time. The list doesn't go into much detail on
    each task, so for a deeper look, check out the book
    <a href="http://www.hello-startup.net/?ref=startup-checklist-intro">Hello, Startup: A Programmer's Guide to Building Products, Technologies, and Teams.</a>
  </p>
  <p>
    Bear in mind that this checklist is always a work in progress. It has grown
    over the years and now covers the most common tasks you'd need to do at
    just about every startup. However, the startup world is constantly
    changing, and every startup is a little different, so some items may not
    apply to your startup and some items that your startup needs may be
    missing. The list is open source, so we welcome any corrections, updates,
    and additions on <a href="{{ site.website_repo_url }}">GitHub</a>.
  </p>
</div>