<section id="about">
  <h2 class="center caps">About</h2>
  <hr class="col-6 mb3">
  <p>
    Atomic Squirrel creates high quality, battle-tested, end-to-end 
    infrastructure that you can use as the foundation of your startup: 
  </p>
  <ul>
    <li>
      <strong>Server-side framework</strong>
      <small>(e.g., Rails, Django, Node, Play)</small>
    </li>
    <li>
      <strong>Client-side framework</strong>
      <small>(e.g., React, Angular, Ember, Backbone)</small>
    </li>
    <li>
      <strong>Data storage</strong>
      <small>(e.g., MySQL, PostgreSQL, Redis, Memcached)</small>
    </li>
    <li>
      <strong>Continuous integration</strong>
      <small>(e.g., SCM, build, automated tests)</small>
    </li>
    <li>
      <strong>Continuous deployment</strong>
      <small>(e.g., hosting, deployment automation)</small>
    </li>
    <li>
      <strong>Monitoring</strong>
      <small>(e.g., logging, metrics, alerting)</small>
    </li>
    <li>
      <strong>Data analysis</strong>
      <small>(e.g., Hadoop, Spark, A/B testing)</small>
    </li>
    <li>
      <strong>Production hardening</strong>
      <small>(e.g. scalability, redundancy, backup)</small>
    </li>
    <li><strong>And much more</strong></li>
  </ul>
  <p>
    We also offer training, design and code reviews, and can even assist you 
    with hiring (e.g., we can help you evaluate technical co-founders and 
    freelancers). Let us take care of the technology so that you can focus 
    on what really matters: your product and your customers. 
  </p> 
  {% include button.html url="#team" text="Meet the team" %}
</section>