<section id="about">
  <h2 class="center caps">About</h2>
  <hr class="col-6 mb3">
  <p>
    Launching a startup is a long, complicated, and confusing process. Most
    startups hire an experienced lawyer who they can call every time they have
    a legal question. Now you can hire an experienced startup team who you can
    call every time you have a product, technology, or team question. Think of
    us as a "<strong>co-founder as a service</strong>."
  </p>
  <p>
    We have helped many companies with product design, marketing strategy,
    data-driven development, system architecture, infrastructure development,
    coding practices, production deployment, scalability, research, recruiting,
    training, and much more. So no matter what your startup is struggling with,
    we can fill in the gaps.
  </p>
  {% include button.html url="#checklist" text="Fill out the checklist" %}
</section>