{% assign ref = "atomic-book-section" %}
<section id="book">
  <h2 class="center caps">Learn more</h2>
  <hr class="col-6 mb3">
  <p>
    Want to learn more about startups? Check out Yevgeniy Brikman's book,
    <em><a href="{{ site.hello_startup_url }}?ref={{ ref }}" target="_blank">Hello, Startup</a></em>.
  </p>
  {% include hello-startup-book-cover.html hello_startup_ref=ref %}
  <p>
    This book is the "Hello, World" tutorial for building a startup. It will
    teach you how to build products, technologies, and teams. <em>Hello, Startup</em>
    is based on the experiences of the author, Yevgeniy (Jim)
    Brikman, as well as interviews with programmers from some of the most
    successful startups of the last decade, including Google, Facebook,
    LinkedIn, Twitter, GitHub, Stripe, Instagram, AdMob, Pinterest, and many
    others.
  </p>
  <p>
    If you're interested in startups, this book is for you.
    <a href="{{ site.hello_startup_url }}?ref={{ ref }}" target="_blank">Get a copy now!</a>
  </p>
</section>