<div class="px3 pb3">
  <h2>The Startup Checklist</h2>
  <p>
    This is a list of everything you need to do to launch a startup. Every time 
    we launch something new at Atomic Squirrel, we consult this list to make 
    sure we didn't forget any important steps. Did we set up Google Analytics?
    Did we put the terms of service on the website? Did we set up social
    media accounts and a mailing list? Is the database backed up regularly? We 
    hope you find this list useful for launching your own startup. If you need 
    help with some of these steps, you can submit your list to Atomic Squirrel 
    at the <a href="#submit-list" data-scroll>bottom of the page</a>.
  </p>
  <p>
    Please note that this list is always a work in progress. The items in the
    list represent the most common tasks you'd need to do at just about every 
    startup, but the startup world is constantly changing, and every startup is 
    a little different, so some things may be extra and some things may be
    missing. The list is open source, so we welcome any corrections, updates,
    and additions on <a href="{{ site.website_repo_url }}">GitHub</a>.
  </p>
</div>
