<div class="px3 pb3">
  <h2>The Startup Checklist</h2>
  <p>
    This is a list of everything you need to do to launch a startup. At Atomic
    Squirrel, we believe in the 
    <a href="http://www.amazon.com/The-Checklist-Manifesto-Things-Right/dp/0312430000" target="_blank">power of the humble checklist</a>, 
    so every time we launch something new, we consult this list to make 
    sure we didn't forget any important steps. Did we set up Google Analytics?
    Is our website showing up in Google Search? Are we tracking expenses
    correctly? Did we set up social media accounts and a mailing list? Is the 
    database backed up regularly? 
  <p>
    Much of this list is based on the book 
    <a href="http://www.hello-startup.net/?ref=startup-checklist-intro">Hello, Startup</a>,
    which is a comprehensive guide to building products, technologies, and 
    teams. Please note that this list is always a work in progress. It covers 
    the most common tasks you'd need to do at just about every startup, but the 
    startup world is constantly changing, and every startup is a little 
    different, so some things may not apply to your startup and some things that
    your startup needs may be missing. The list is open source, so we welcome 
    any corrections, updates, and additions on 
    <a href="{{ site.website_repo_url }}">GitHub</a>.
  </p>
  <p>
    We hope you find this list useful for launching your startup. If you 
    need help with any of the items below, you can submit your list to 
    Atomic Squirrel at the <a href="#submit-list" data-scroll>bottom of the 
    page</a>, and we'll quickly respond to discuss how we can work together.
  </p>
</div>
