<div class="px3 pb1">
  <h2>The Startup Checklist</h2>
  <p>
    This is a list of everything you need to do to launch a startup. After
    using it for years to successfully launch a variety of projects, we're
    excited to share it with all of you. Every time you launch something new,
    consult this list to make sure you didn't forget any important steps. Did
    you set up Google Analytics? Is your website showing up in search results?
    Are you tracking business expenses correctly? Did you set up social media
    accounts and a mailing list? Is your database backed up regularly?
  </p>
  <p>
    We hope you find this list useful for launching your startup. If you need
    help with any of the items, or just need feedback and advice, contact us at
    <a href="https://www.gruntwork.io/?ref=atomic-squirrel-checklist">Gruntwork</a>.
  </p>
</div>
