<section id="checklist">
  <h2 class="center caps">Startup Checklist</h2>
  <hr class="col-6 mb3">
  <div class="clearfix mxn2 mt3">
    <p>
      Building a company involves many, many steps. Did you set up Google
      Analytics? Is your website showing up in search results? Are you tracking
      business expenses correctly? Did you set up social media accounts and a
      mailing list? Is your database backed up regularly? To make sure you
      don't miss anything important, we've created a free Startup Checklist
      that you can use to launch your startup:
    </p>
    <a href="/startup-checklist" class="block mb2 center mx-auto bg-checklist no-underline">
      <div class="h2 white pt16 caps">The Startup Checklist</div>
      <div class="h4 white px4 caps">160+ tasks required to launch a startup</div>
    </a>
  </div>
  {% include button.html url="#team" text="Meet the team" %}
</section>