<footer>
  <p class="h5 mb0">&copy; {{ site.name }} {{ site.time | date: "%Y" }}</p>
  <p class="h6 mt0">
    Image credit: <a href="https://www.flickr.com/photos/astrosamantha/8234652333/in/photolist-dxEKfn-r6ADFt-dU5rd9-9FmLXr-9FmM6F-e2NYvX-rsLKND-jFsPnR-5nrEJL-5nrGay-v1XgwW-v47E6T-4CnXSq-a52XVc-4CiGqR-6q4gsA-5nrDqL-3f9nUF-4CiCFk-9Z6hCy-7fPiJe-v47DT8-5UmW9P-5UriPQ-5UmWVc-5Urinu-e3NYQQ-u773F3-e2NYyD-n5k8BY-ecQ6jj-6PFR81-9KKkHR-6PBHjR-9WTRW-NthJX-jGFp2V-e1oD3-dqFSnH-9HLz3K-5UrgSo-5UmXX2-5Urgef-5UrhqY-5UmVRR-5UmUvD-7RasvC-jFtvUR-9Jn25i-a52JG2" rel="nofollow">Samantha Cristoforetti</a>
  </p>
</footer>
