{% assign gruntwork_url = "https://www.gruntwork.io/?ref=atomic-squirrel-update" %}

<section id="about">
  <h2 class="center caps">Atomic Squirrel is now Gruntwork!</h2>
  <hr class="col-6 mb3">
  <p>
    In 2015, I launched Atomic Squirrel to try to make it easier to build a startup. Along the way, I met Josh Padnick,
    who was trying to solve the same problem at his company, Phoenix DevOps. Our companies began working together and
    after many months and many happy clients, I’m happy to announce that we are now officially joining forces at a
    single new company called <a href="{{ gruntwork_url }}">Gruntwork</a>!
  </p>
  <div class="center mb2">
    <a href="{{ gruntwork_url }}"><img src="/assets/images/gruntwork-logo-text-wide.png"></a>
  </div>
  <p>
    For more info, check out the
    <a href="https://www.ybrikman.com/writing/2016/04/25/introducing-gruntwork-up-and-running-aws-2-weeks/?ref=atomic-squirrel-udpate">Gruntwork announcement blog post</a>
    and <a href="{{ gruntwork_url }}">gruntwork.io</a>.
  </p>
  {% include button.html url=gruntwork_url text="Contact us at Gruntwork" %}
</section>