<nav class="fixed top-0 z-9999 col-12 bg-dark-blue-sky bg-clouds-image bg-no-repeat">
  <div class="container">
    <div class="clearfix">
      <div class="sm-col px4">
        <a href="#home" class="btn py2">
          <h1 class="mb0 mt0 caps h4">Atomic Squirrel</h1>
        </a>      
      </div>
      <div class="sm-col-right px4">
        <a href="#services" class="btn py2 lower thin">Services</a>
        <a href="#team" class="btn py2 lower thin">Team</a>
        <a href="#contact" class="btn py2 lower thin">Contact</a>
      </div>
    </div>    
  </div>  
</nav>