{% capture indentation %}pl{{ include.level | times: '2' }} pr2{% endcapture %}
{% assign font_size = 'h4' %}
{% assign side_padding = 'pl2 pr2' %}
<li class="mt2">
  {% capture item_id %}{{ include.item.name | slugify }}{% endcapture %}
  {% capture item_more_class %}js-{{ item_id }}{% endcapture %}
  {% capture item_more_icon_class %}{{ item_more_class }}-more-icon{% endcapture %}
  {% capture item_less_icon_class %}{{ item_more_class }}-less-icon{% endcapture %}
  {% capture checkbox_children_class %}{{ item_more_class }}-checkbox{% endcapture %}
  <div class="{{ indentation }} pt1 clearfix">
    <a href="#" class="align-top left {{ side_padding }} list-font narrow-font default-font-color no-underline more-bold js-expand {{ font_size }}" data-more-class="{{ item_more_class }}" data-more-icon-class="{{ item_more_icon_class }}" data-less-icon-class="{{ item_less_icon_class }}">
      <i class="fa fa-plus-square-o {{ item_more_icon_class }}"></i>
      <i class="fa fa-minus-square-o {{ item_less_icon_class }}" style="display: none"></i>
      {{ include.item.name }}
    </a>
    <input type="checkbox" class="block right {{ font_size }}-input js-checklist-item" id="{{ item_id }}" value="{{ include.item.name }}" data-children-class="{{ item_more_class }}">
  </div>
  <div class="{{ item_more_class }} {{ indentation }} display-none">
    {% if include.item.description %}
      <small class="block mb2 {{ side_padding }} pt2">{{ include.item.description }}</small>
    {% endif %}
  </div>
  <hr class="m0 pb2">
  <div class="{{ item_more_class }} display-none">
    {% if include.item.sublist %}
      {% capture next_level %}{{ include.level | plus: '1' }}{% endcapture %}
      {% include render-list.html list=include.item.sublist level=next_level %}
    {% endif %}
  </div>
</li>