{% capture indentation %}pl{{ include.level }}{% endcapture %}
{% capture item_id %}{{ include.item.name | slugify }}{% endcapture %}
{% capture item_more_class %}js-{{ item_id }}{% endcapture %}
{% capture item_more_icon_class %}{{ item_more_class }}-more-icon{% endcapture %}
{% capture item_less_icon_class %}{{ item_more_class }}-less-icon{% endcapture %}
{% capture item_hidden_class %}{{ item_more_class }}-hidden{% endcapture %}

<li class="{{ indentation }}">
  <div class="m2 px2 py2 border more-rounded clearfix bg-white">
    <div class="col mr1">
      <input type="checkbox" name="{{ item_id }}" value="done" class="js-checklist-item" data-children-class="{{ item_more_class }}" data-hidden-class="{{ item_hidden_class }}">  
      <input type="hidden" name="{{ item_id }}" value="todo" class="{{ item_hidden_class }}">
    </div>
    <div class="col col-9">
      <div class="more-bold">{{ include.item.name }}</div>
      {% if include.item.description %}
        <div class="mt1 h5 display-none {{ item_more_class }}">{{ include.item.description }}</div>
      {% endif %}                
    </div>
    <div class="col-right right-align">
      <a href="#" id="{{ item_id }}-expand-link" class="h3 monospace no-underline more-bold initial-line-height default-font-color js-expand" data-more-class="{{ item_more_class }}">+</a>      
    </div>
  </div>
  <div class="{{ item_more_class }} display-none">
    {% if include.item.sublist %}
      {% capture next_level %}{{ include.level | plus: '1' }}{% endcapture %}
      {% include render-list.html list=include.item.sublist level=next_level %}
    {% endif %}
  </div>
</li>