{% capture item_id %}{{ include.parent_checkbox_name }}--{{ include.item.name | slugify }}{% endcapture %}
{% capture item_more_class %}js-{{ item_id }}{% endcapture %}
{% capture item_more_icon_class %}{{ item_more_class }}-more-icon{% endcapture %}
{% capture item_less_icon_class %}{{ item_more_class }}-less-icon{% endcapture %}
{% capture item_hidden_class %}{{ item_more_class }}-hidden{% endcapture %}

<li class="ml{{ include.level | times: '2' }} {% unless include.level == "0" %}{% unless include.is_last %}border-left{% endunless %}{% endunless %} {% unless include.is_last %}pt1{% endunless %}">
  <div class="clearfix">
    {% unless include.level == "0" %}
      <div class="col" style="width: 3%;">
        <div class="border-bottom{% if include.is_last %} border-left pt1 {% endif %}">&nbsp;</div>
      </div>
    {% endunless %}
    <div class="{% unless include.level == "0" %}col {% endunless %}px2 py2 border more-rounded clearfix bg-white {% if include.is_last %} mt2{% endif %}"{% unless include.level == "0" %} style="width: 97%"{% endunless %}>
      <div class="col mr1">
        <input type="checkbox" name="{{ item_id }}" value="done" class="js-checklist-item" data-hidden-class="{{ item_hidden_class }}">
        <input type="hidden" name="{{ item_id }}" value="todo" class="{{ item_hidden_class }}">
      </div>
      <div class="col col-9">
        <div class="more-bold">{{ include.item.name }}</div>
        {% if include.item.description %}
          <div class="mt1 h5 display-none {{ item_more_class }}">{{ include.item.description }}</div>
        {% endif %}
      </div>
      <div class="col-right right-align no-print">
        {% if include.item.description or include.item.sublist %}
          <a href="#" id="{{ item_id }}-expand-link" class="h3 monospace no-underline more-bold initial-line-height default-font-color js-expand" data-more-class="{{ item_more_class }}">+</a>
        {% endif %}
      </div>
    </div>
  </div>
  <div class="{{ item_more_class }} hide-checklist-item">
    {% if include.item.sublist %}
      {% capture next_level %}{{ include.level | plus: '1' }}{% endcapture %}
      {% include render-list.html list=include.item.sublist level=next_level parent_checkbox_name=item_id %}
    {% endif %}
  </div>
</li>