<section id="services" class="mt4 mb4 py4">
  <h2>Services</h2>
  <p class="mb3 justify">
    Every minute you spend working on infrastructure is a minute that would have
    been better spent improving the product. Stop reinventing the wheel and let 
    Atomic Squirrel assemble a tech stack for you that has everything you need 
    to build and deploy your products:
  </p>
  <ul>
    <li>Server-side framework (e.g., Rails, Django, Node, Play)</li>
    <li>Client-side framework (e.g., React, Angular, Ember, Backbone)</li>
    <li>Data storage (e.g., MySQL, PostgreSQL, Redis, Memcached)</li>
    <li>Continuous integration (e.g., SCM, build system, automated testing)</li>
    <li>Continuous deployment (e.g., hosting, deployment automation)</li>
    <li>Monitoring (e.g., logging, business/application/server metrics, alerting)</li>
    <li>Data analysis (e.g., analytics, ETL, A/B testing)</li>
    <li>Production hardening (e.g. scalability, redundancy, backup)</li>
    <li>And much more</li>
  </ul>
  <p class="mb3 justify">
    We also offer training, design and code reviews, and can even assist 
    you with hiring (e.g., we can help you evaluate technical 
    co-founders and freelancers).
  </p> 
  <a href="#team" class="btn btn-outline btn-narrow mb4 medium link-color">Meet the team</a>            
</section>