<section id="team" class="mt4 mb4 py4">
  <h2 class="center caps">Team</h2>
  <hr class="col-6 mb3">  
  <div class="clearfix mxn2 mt3">
    <div class="sm-col sm-col-3 px2 py2 center">
      <a href="http://www.www.ybrikman.com/?ref=atomic-squirrel-bio">
        <img src="/assets/images/yevgeniy-brikman-medium.jpg" class="circle" alt="Yevgeniy Brikman">
      </a>
    </div>
    <div class="sm-col sm-col-9 px2">
      <p>
        <a href="http://www.www.ybrikman.com/?ref=atomic-squirrel-bio">Yevgeniy (Jim) 
        Brikman</a> is the founder of Atomic Squirrel and the author of 
        <a href="http://www.hello-startup.net/?ref=atomic-squirrel-bio">Hello, 
        Startup: A Programmer's Guide to Building Products, Technologies, and Teams</a>. 
        In the past, he helped build infrastructure and products at 
        LinkedIn, TripAdvisor, Cisco Systems, and Thomson Financial. 
      </p>
    </div>
  </div>
  <div class="clearfix mxn2 mt3 mb4">
    <div class="sm-col sm-col-3 center">
      <span class="fa-stack fa-4x">
        <i class="fa fa-circle fa-stack-2x"></i>
        <i class="fa fa-user fa-stack-1x white"></i>
      </span>                
    </div>
    <div class="sm-col sm-col-9 px2">
      <p class="mt2">
        Atomic Squirrel is hiring. We're looking for DevOps people with 
        deep experience building products from start to finish and 
        deploying them to production. If you're interested, send an email
        to <a href="{{ site.contact_urls.email.url }}">{{ site.contact_urls.email.value }}</a>.
      </p>
    </div>
  </div> 
  {% include button.html url="#contact" text="Work with us" %}
</section>