<section id="team">
  <h2 class="center caps">Team</h2>
  <hr class="col-6 mb3">
  <div class="clearfix mxn2 mt3">
    <div class="sm-col sm-col-3 px2 py2 center">
      <a href="http://www.ybrikman.com/?ref=atomic-squirrel-bio">
        <img src="/assets/images/yevgeniy-brikman-medium.jpg" class="circle" alt="Yevgeniy Brikman">
      </a>
    </div>
    <div class="sm-col sm-col-9 px2">
      <p>
        <a href="http://www.ybrikman.com/?ref=atomic-squirrel-bio" target="_blank">Yevgeniy (Jim)
        Brikman</a> is the founder of Atomic Squirrel. He is the author of
        <a href="http://www.hello-startup.net/?ref=atomic-squirrel-bio" target="_blank">Hello,
        Startup</a>, a comprehensive guide to building products, technologies,
        and teams in a startup environment. Jim has more than a decade of
        experience building infrastructure and products at LinkedIn,
        TripAdvisor, Cisco Systems, and Thomson Financial. He's also active in the
        <a href="https://github.com/brikis98/" target="_blank">open source community</a>,
        maintains a
        <a href="http://www.ybrikman.com/writing/?ref=atomic-squirrel-bio" target="_blank">popular blog</a>,
        and has given
        <a href="http://www.ybrikman.com/speaking/?ref=atomic-squirrel-bio" target="_blank">talks</a>
        at conferences all over the world. See
        <a href="http://www.ybrikman.com/?ref=atomic-squirrel-bio">ybrikman.com</a>
        for more info.
      </p>
    </div>
  </div>
  <div class="clearfix mxn2 mt3">
    <div class="sm-col sm-col-3 px2 py2 center">
      <a href="https://joshpadnick.com/">
        <img src="/assets/images/Josh_Padnick_Profile1.jpg" class="circle" alt="Josh Padnick">
      </a>
    </div>
    <div class="sm-col sm-col-9 px2">
      <p>
        <a href="https://joshpadnick.com/" target="_blank">Josh Padnick</a> is
        the founder of
        <a href="http://phoenixdevops.com/" target="_blank">Phoenix DevOps</a>
        and
        <a href="https://omedix.com/" target="_blank">Omedix</a>, and is a
        professional DevOps + AWS Consultant. He has helped a wide range of
        software teams to achieve DevOps success, including Intel,
        Infusionsoft, American Bible Society, and many others. He recently
        published a
        <a href="https://www.airpair.com/aws/posts/building-a-scalable-web-app-on-amazon-web-services-p1" target="_blank">12,000+ Word Guide to Building Scalable Web Apps on AWS</a>
        which garnered 500+ upvotes on Hacker News, has hosted 150+ websites on
        AWS, and built cloud apps on AWS for 100,000+ users. See
        <a href="https://joshpadnick.com/" target="_blank">JoshPadnick.com</a> for more info.
      </p>
    </div>
  </div>
</section>