<div class="px2 pt1 right-align">
  <a href="#" class="btn btn-outline h6 p1 js-expand-all"><i class="fa fa-expand fa-rotate-135"></i> Expand All</a>
  <a href="#" class="btn btn-outline h6 p1 js-collapse-all"><i class="fa fa-compress fa-rotate-135"></i> Collapse All</a>
</div>
<div class="px2">
  {% include render-list.html list=site.data.checklist level="0" %}
</div>
<div class="clearfix py3 px3">
  <div class="left more-bold"><i class="fa fa-check-square-o"></i> Unfinished tasks:</div> 
  <div id="unchecked-items" class="right red more-bold"></div>
</div>