@import 'atomic-squirrel/variables';

.bg-rocket-launch {
  background-image: url('/assets/images/rocket-launching.jpg');
}

.bg-no-repeat {
  background-repeat: no-repeat;
}

.bg-fixed {
  background-attachment: fixed;
}

.bg-cover {
  background-size: cover;
}

.bg-translucent-white {
  background-color: rgba(255, 255, 255, 0.90);
}