@import 'atomic-squirrel/variables';

.bg-dark-black {
  background-color: #000;
}

.bg-rocket-launch {
  background-image: url('/assets/images/rocket-launching.jpg');
}

.bg-repeat {
  background-repeat: repeat;
}

.bg-no-repeat {
  background-repeat: no-repeat;
}

.bg-fixed {
  background-attachment: fixed;
}

// Workaround because mobile browsers don't support background-attachment: 
// "fixed". See http://stackoverflow.com/a/19045667/483528
@media screen and (max-width: 40em) {
  .bg-rocket-launch {
    background-size: 215% !important;
    background-attachment: scroll !important;
    background-position: center 0 !important;    
  }
}

.bg-cover {
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-position: center center;
}

.bg-translucent-white {
  background: rgb(255, 255, 255);
  background-color: rgba(255, 255, 255, 0.90);
}

$boxShadow: 4px 4px 20px -6px rgba(0,0,0,0.2);
.box-shadow {
  -webkit-box-shadow: $boxShadow;
  -moz-box-shadow: $boxShadow;
  box-shadow: $boxShadow;
}

.more-rounded {
  border-radius: 10px;
}