@import 'atomic-squirrel/variables';

.btn-primary {
  background-color: $linkColor;
}

.btn-primary:hover {
 background-color: $linkHoverColor;
}

.btn-130 {
  width: 130px;
}

.btn-175 {
  width: 175px;
}