@import 'atomic-squirrel/variables';

body, h1, h2, h3, h4, h5, p, span, div, li {
  font-family: $defaultFontFamily;
  color: $defaultFontColor;
  letter-spacing: 0.015rem;
  font-weight: 100;
  line-height: 1.5;
}

h1, .h1 {
  font-size: $defaultFontSize * 3.0;
  font-weight: 800;
  letter-spacing: 0.075rem;
}

h2, .h2 {
  font-size: $defaultFontSize * 1.8;
  font-weight: 800;
  letter-spacing: 0.10rem;
}

h3, .h3 {
  font-size: $defaultFontSize * 1.4;
  font-weight: 100;
  letter-spacing: 0.2rem;
}

h4, .h4 {
  font-size: $defaultFontSize * 1.0;
  font-weight: 100;
  letter-spacing: 0.1rem;
}

h5, .h5 {
  font-size: $defaultFontSize * 0.875;
  font-weight: 100;
}

h6, .h6 {
  font-size: $defaultFontSize * 0.75;
  font-weight: 100;
}

.big-hr {
  background: $grayColor;
  height: 2px;
}

a, .link-color {
  color: $linkColor;
}

a:hover {
  text-decoration: underline;
  color: $linkHoverColor;
}

a.no-underline:hover { 
  text-decoration: none;
}

.btn:hover {
  background-color: $linkColor;
  border-color: $linkColor;
  color: #fff;
}

.lower {
  text-transform: lowercase;
}

.thin {
  font-weight: 100;
}

.medium {
  font-weight: 300;
}

.bold {
  font-weight: 400;
}

.more-bold {
  font-weight: 700;
}

.very-bold {
  font-weight: 800;
}

.subtle-gray {
  color: #C0C0C8;
}

.text-shadow {
  text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
}

.default-font-color {
  color: $defaultFontColor;
}

.list-font {
  font-family: 'Montserrat', sans-serif;
}

.narrow-font {
  letter-spacing: 0.05rem;
}

.inherit-line-height {
  line-height: inherit;
}

.initial-line-height {
  line-height: initial;
}

.monospace {
  font-family: monospace;
}