@import "variables";

.h2-input {
  height: 3.0rem;
}

.h3-input {
  height: 2.0rem;
}

.h4-input {
  height: 1.5rem;
}

.h5-input {
  height: 1.4rem;
}

.field:invalid {
  border-color: rgba(0,0,0,.125);
}