@import 'atomic-squirrel/variables';

.z-9999 {
  z-index: 9999;  
}

$rotate135: 135deg;
.fa-rotate-135 {
  -webkit-transform: rotate($rotate135);
  -ms-transform: rotate($rotate135);
  transform: rotate($rotate135);
}