$whitespaceAmount: 1rem;

$defaultFontFamily: Raleway, Helvetica, sans-serif;
$defaultFontSize: 1rem;
$defaultFontColor: #61686b;

$linkColor: #8cd1a8;
$linkHoverColor: #9ed8b6;

$grayColor: #dddddd;
