@import 'atomic-squirrel/variables';

@for $i from 0 through 8 {
  .pt#{$i} { padding-top: $whitespaceAmount * $i; }
  .pr#{$i} { padding-right: $whitespaceAmount * $i; }
  .pb#{$i} { padding-bottom: $whitespaceAmount * $i; }
  .pl#{$i} { padding-left: $whitespaceAmount * $i; }
}

@for $i from 5 through 8 {
  .mt#{$i} { margin-top: $whitespaceAmount * $i; }
  .mr#{$i} { margin-right: $whitespaceAmount * $i; }
  .mb#{$i} { margin-bottom: $whitespaceAmount * $i; }
  .ml#{$i} { margin-left: $whitespaceAmount * $i; }
  .m#{$i} { margin: $whitespaceAmount * $i; }

  .pt#{$i} { padding-top: $whitespaceAmount * $i; }
  .pr#{$i} { padding-right: $whitespaceAmount * $i; }
  .pb#{$i} { padding-bottom: $whitespaceAmount * $i; }
  .pl#{$i} { padding-left: $whitespaceAmount * $i; }
  .p#{$i} { padding: $whitespaceAmount * $i; }
}

@media screen and (max-width: 40em) {
  .mobile-padding {
    padding: 2rem;
  }
}